.aliveCell {  
    cursor: pointer; 
    background-color: rgb(235, 211, 211);
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 2px;
    color: #1b1212;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.4);
    background-image: url('../assets/seal.gif');
    width: 50px;
    height: 50px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.deadCell {  
    cursor: pointer; 
    background-color: rgb(235, 211, 211);
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 2px;
    color: #1b1212;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.4);
    width: 50px;
    height: 50px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}